.utility-buttons {
  position: fixed !important;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 15px;
  z-index: 9999;

  ::ng-deep {
    .p-button {
      width: 45px !important;
      height: 45px !important;
      font-size: 1.5rem !important;
      
      .p-button-icon {
        font-size: 1.5rem !important;
      }
    }
  }
}
:host {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

:host ::ng-deep body,
:host ::ng-deep html {
  overflow: hidden !important;
}


